backup
tmp
*.swp
.nfs*
ros/catkin_mavros
dockers/docker_home/.gazebo
dockers/docker_home/.config
dockers/docker_home/.nv
dockers/docker_home/.ros
dockers/docker_home/.sdformat
dockers/docker_home/.bash_history
dockers/docker_home/.python_history
demos/common/_fdm.c
*.pyc
__pycache__
baked_games
